flask==3.0.3;
pytest==8.3.2;
pillow==10.4.0;
aiodns==3.2.0;
aiosmtpd==1.4.6;
atpublic==5.0;
pycares==4.4.0; 
verify-email==2.4.3;
mysql-connector-python==9.0.0;
mysql==0.0.3;
mysqlclient==2.2.4;
SQLAlchemy==2.0.35;
greenlet==3.1.1;
typing-extensions==4.12.2;
Flask-SQLAlchemy==3.1.1;
python-dotenv==1.0.1;
Flask-Dance==7.1.0;
certifi==2024.8.30;
charset-normalizer==3.3.2;
oauthlib==3.2.2;
requests==2.32.3;
requests-oauthlib==2.0.0;
urllib3==2.2.3;
urlobject==2.4.3;
flask-login==0.6.3;
pymysq==1.1.1;
mysql-connector-python==9.1.0;