@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
}

.body {
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.form-container {
    max-width: 300px;
    padding: 1rem;
}

.sesi-logo {
    border-radius: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}